%div{:"data-role" => "page", :"data-title" => "Virtual Theater - #{play.title}"} 
  %div{:"data-role" => "header"}
    %a{:href => "/plays", :"data-icon" => "back", :"data-transition" => "flip", :"data-direction" => "reverse"} Back
    %h1 Virtual Theater
    - if logged_in?
      %a{:href => "/menu", :class => "ui-btn-right", :"data-rel" => "dialog", :"data-transition" => "pop", :"data-icon" => "grid"} Menu
    - else
      %a{:href => "/auth", :class => "ui-btn-right", :"data-rel" => "dialog", :"data-transition" => "pop", :"data-icon" => "gear"} Login
      
  %div{:"data-role" => "content"}
    %img{:src => "data:image/png;base64,#{play.picture}", :class => "playImage"}
    %h3= play.title
    %p= play.description

    %div{:"data-role" => "collapsible"}
      %h3 Click to show dates
      - play.play_dates.each_with_index do |playdate, i|
        - time = Time.at(playdate.playtime)
        - dayname = time.strftime("%A")
        - datetime = time.strftime("%d.%m.%Y %H:%M")
        %div
          %p= "#{dayname}"
          %p
            = "#{datetime} | #{playdate.price} €"
            %a{:href => "/plays/#{playdate.play.id}/#{playdate.play.url_title}/buy"} Buy Tickets

    