%div{:"data-role" => "page", :"data-title" => "Virtual Theater - #{play.title}"} 
  %div{:"data-role" => "header"}
    %a{:href => "#", :"data-rel" => "back", :"data-icon" => "back", :"data-transition" => "flip", :"data-direction" => "reverse"} Back
    %h1 Virtual Theater
    - if logged_in?
      %a{:href => "/menu", :class => "ui-btn-right", :"data-rel" => "dialog", :"data-transition" => "pop", :"data-icon" => "grid"} Menu
    - else
      %a{:href => "/auth", :class => "ui-btn-right", :"data-rel" => "dialog", :"data-transition" => "pop", :"data-icon" => "gear"} Login
      
  %div{:"data-role" => "content"}
    %img{:src => "data:image/png;base64,#{play.picture}"}
    %h3= play.title
    %p= play.description

    %div{:"data-role" => "collapsible"}
      %h3 Click to show dates
      %div
        .ui-grid-c
          - a = ["a","b","c","d"]
          - play.play_dates.each_with_index do |playdate, i|
            %div{:class => "ui-block-#{a[i%4]}"}= "#{Time.at(playdate.playtime).to_date} | #{playdate.price} €"

    